<form [formGroup]="productForm" class="custom-popup">
  <div class="close-container">
    <button class="back" mat-button mat-dialog-close></button>
  </div>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="{{data.title}}">
        <div class="form cotain-main">
          <!-- Nom -->
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Nom" type="text" formControlName="name" required />
              <mat-error *ngIf="productForm.getError('required','name')">{{REQUIRED_MESSAGE}}</mat-error>
            </mat-form-field>
          </div>

          <!-- Code -->
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Code" type="text" formControlName="code" required />
              <mat-error *ngIf="productForm.getError('required','code')">{{REQUIRED_MESSAGE}}</mat-error>
            </mat-form-field>
          </div>

          <!-- Date de validité -->
          <div class="form-group">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date de validité" [min]="minDate" required
                formControlName="validityDate" #validityDate>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="productForm.getError('required','validityDate')">
                {{ validityDate.value ? 'Date invalide' : REQUIRED_MESSAGE}}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Prix de vente -->
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Prix de vente" formControlName="price"
              (keypress)="onKeyPress($event)"
                numberFormatter required />
              <mat-error *ngIf="productForm.getError('required','price')">{{REQUIRED_MESSAGE}}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <mat-dialog-actions class="form-group save">
    <button type="button" value="Annuler" class="btn reset-btn" mat-button mat-dialog-close>Annuler</button>
    <button type="submit" value="Valider" class="btn save-btn" (click)="onSave()">Enregistrer</button>
  </mat-dialog-actions>
</form>
